body {
font-family: Arial, sans-serif;
background: #f4f4f4;
}


.navbar {
background: #0A6FB5;
color: white;
padding: 15px;
display: flex;
justify-content: space-between;
}


.navbar ul {
list-style: none;
display: flex;
}


.navbar ul li {
margin-left: 15px;
}


.navbar a {
color: white;
text-decoration: none;
}


.hero {
text-align: center;
padding: 60px;
background: white;
}


.hero input {
padding: 10px;
width: 250px;
}


.hero button {
padding: 10px;
background: #0A6FB5;
color: white;
border: none;
}


.jobs-container {
padding: 20px;
}


.job-card {
background: white;
padding: 15px;
margin-bottom: 15px;
border-radius: 5px;
}


.job-card button {
background: green;
color: white;
border: none;
padding: 8px;
}


.login-box {
background: white;
width: 300px;
margin: 100px auto;
padding: 20px;
text-align: center;
}


.login-box input {
width: 90%;
margin: 10px 0;
padding: 8px;
}